*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: hsl(0, 0%, 0%);
  color: white;
}

body > * {
  margin: 1rem;
}

body {
  min-height: 100vh;
  height: 100vh;
  font-size: 1.5rem;
  /* border: 1px solid blue; */
}

h1 {
  font-size: min(3rem, 10vw);
  margin-top: 2rem;
}

main {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-auto-rows: 110px;
  gap: 30px;
  min-height: 110px;
}

.bookCard {
  border: 1px solid rgb(255, 255, 255);
  display: grid;
  place-items: center;
}

.bookContent {
  width: auto;
  text-align: center;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;

  /* margin-top: 5rem; */
  width: 400px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease, display 0.3s ease allow-discrete;
}

form.open {
  opacity: 1;
  display: flex;
  transition: opacity 0.3s ease, display 0.3s ease allow-discrete;
}

button {
  align-self: start;
}

@media (width < 500px) {
  main {
    justify-content: center;
  }

  H1 {
    text-align: center;
  }
}
