*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body > * {
  margin: 1rem;
}

body {
  min-height: 100vh;
  height: 100vh;
  font-size: 1.5rem;
  /* border: 1px solid blue; */
}

h1 {
  font-size: min(3rem, 10vw);
  margin-top: 2rem;
  text-align: center;
}

main {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-auto-rows: 110px;
  gap: 30px;

  justify-content: center;
}

.bookCard {
  border: 1px solid black;
  display: grid;
  place-items: center;
}

.bookContent {
  width: auto;
  text-align: center;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;

  margin-top: 5rem;
}
